.highlight {
  background-color: yellow;
}

.navbar-style {
  background-color: #a1e993 !important;
}

.badge-bg {
  background-color: #474444e8;
}

.green-highlight {
  color: green;
  font-size: 30px;
}

.yellow-highlight {
  background-color: grey;
  color: yellow;
  font-size: 20px;
}